# Ignore all .log files
*.log

# Ignore the node_modules directory (for Node.js projects)
node_modules/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore VS Code settings
.vscode/


*.ini
